<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid border mt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Evangelista de Oliveira</h1>
                <p>A história da fábrica de Enchidos Evangelista de Oliveira teve como inspiração a matança do porco na
                    família, não faltando a filhó com café preto feitos pelas avós. Este era o sustento que dava a
                    energia necessária aos familiares e amigos presentes. Não faltava alegria nesses dias, e após algum
                    caos, choro e o ocasional desaparecimento da tia que não gostava de ouvir o barulho da matança, a
                    sangria terminava e as partes do porco começam a tomar rumos e devidos propósitos. Tipicamente as
                    mulheres tratavam dos enchidos e os homens das carnes e presuntos. Elas iniciavam a picagem das
                    carnes magras, temperavam, enchiam com a tripa e por fim penduravam as chouriças num suporte,
                    diretamente em cima do lume, por onde o fumo percorrería nos dias seguintes. Em breve estariam
                    prontas as famosas chouriças de carne.</p>
            </div>
            <div class="col-md-6 pe-0">
                <img src="../images/pic1.jpg" alt="" class="img-fluid w-100 object-fit-cover">
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-6 ps-0 order-2 order-md-1">
                <img src="../images/pic2.jpg" alt="" class="img-fluid w-100 object-fit-cover">
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <p>A fábrica de enchidos, aberta em 2001, deu-se início não só à produção dos enchidos, mas também a
                    comercialização dos mesmos. A tradição e o conhecimento adquirido pela experiência mantiveram-se ao
                    longo destes anos.</p>
                <p>Gradualmente, a produção foi aumentando e atualmente, produz, aproveitando toda a matéria-prima em
                    diversos produtos, cerca de 120 meias carcaças de suínos por mês e mais de 50 toneladas anuais só em
                    chouriças de carne.</p>
                <p>Foi concedida, à fábrica Evangelista de Oliveira, a Licença Sanitária para um estabelecimento
                    industrial de Produtos à Base de Carne (Enchidos e Presuntos Tradicionais da Serra de Monchique), no
                    dia 4 de outubro de 2001 pela Direção Regional de Agricultura do Algarve e o respetivo Número de
                    Controlo Veterinário:</p>
                <p>PT GTR 1801 CE</p>
                <p>Em 2001, a fábrica de Monchique teve projeto aprovado e foi construída na Serra de Monchique, próxima
                    do centro, com uma área de 150m². Atualmente, após 2 projetos de ampliação, tendo o último sido em
                    2019, a fábrica, incluindo as infraestruturas anexas como o armazém, o parque de estacionamento etc,
                    a propriedade conta com cerca de 500m²</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>